
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0px;
    overflow-x: hidden;
}

.active{
    color:blueviolet;
    /* border: 2px solid blueviolet; */
    /* transition: 0.5s ease-in; */
}


*::-webkit-scrollbar-track
{
	border: 1px solid blueviolet;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: blueviolet;	
}


/* Add the following styles to your CSS file for animations */
@keyframes bit {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        left: -25%;
    }
    100% {
        left: 70%;
    }
}



/* Ensure to include the following in your CSS file */
.animate-loading {
    animation: loading 1s linear infinite;
}

.animate-bit {
    animation: bit 0.6s alternate infinite;
}

.scrolling-container {
    margin-bottom: 0;
    background-color: aquamarine;
    width: 100vw; /* Full viewport width */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scrolling-text {
    display: inline-block;
    padding-right: 50vw; /* Reduce the initial padding for quicker appearance */
    animation: scroll 25s linear infinite; /* Decrease duration for faster looping */
  }
  /* Duplicate text for seamless scrolling */
.scrolling-text:after {
    content: attr(data-text); /* Duplicate the content */
    padding-left: 50vw;
  }

  
  @keyframes scroll {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(-80%);
    }
  }
  